<!DOCTYPE HTML>
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<link th:substituteby="./header :: common_link"/>
<link rel="stylesheet" href="resources/css/calc-index.css"></link>
<script src="resources/js/calc.js">
</script>
</head>  
<body>
<form action="#" th:action="${flowExecutionUrl}" method="POST">
<center>
<div class="calc-list">
<p>
今日汇率：<span class="rate">5.84</span>
</p>
    <table>
        <thead class="calc-head">
        <tr>
            <th>
                日期
            </th>
            <th>
                顾客姓名
            </th>
            <th>
                商品种类
            </th>
            <th>
                数量
            </th>
            <th>
                日元价格
            </th>
            <th>
                当时汇率
            </th>
            <th>
                人民币价格
            </th>
            <th>
                成交价格
            </th>
            <th>
                利润
            </th>
            <th>
                状态
            </th>
            <th>
                邮送日期
            </th>
            <th>
                备注
            </th>
        </tr>
        </thead>
        <tbody class="calc-body">
        <tr th:each="item : ${form.goodsList}" class="db-data" >
            <input type="hidden" name="id" th:value="${item.id}"/>
            <td th:if="${item.created != null}" class="created readonly" th:text="${#dates.format(item.created, 'yyyy-MM-dd HH:mm:ss')}">
            </td>
            <td th:if="${item.created == null}" class="created readonly">
            </td>
            <td>
                <input type="text" name="customerName" th:value="${item.customerName}"/>
            </td>
            <td>
                <input type="text" name="productCategory" th:value="${item.productCategory}"/>
            </td>
            <td>
                <input type="number" name="quantity" th:value="${item.quantity}"/>
            </td>
            <td>
                <input type="number" name="jpyPrice" th:value="${item.jpyPrice}"/>
            </td>
            <td class="rate readonly" th:text="${item.rate}">
            </td>
            <td class="cnyPrice readonly" th:text="${item.cnyPrice}" >
            </td>
            <td>
                <input type="text" name="cnyDealPrice" th:value="${item.cnyDealPrice}"/>
            </td>
            <td class="productProfit readonly" th:text="${item.productProfit}">
                0
            </td>
            <td>
                <input type="text" name="goodsStatus" th:value="${item.status}"/>
            </td>
            <td>
                <input th:if="${item.sendDate != null}" type="text" name="sendDate" th:value="${#dates.format(item.sendDate, 'yyyy-MM-dd')}"/>
                <input th:if="${item.sendDate == null}" type="text" name="sendDate"/>
            </td>
            <td>
                <textarea name="remark" th:text="${item.remark}"></textarea>
            </td>
        </tr>
        <tr class="clone">
            <td class="readonly">
                2016-02-25 20:49
            </td>
            <td>
                <input type="text" name="customerName"/>
            </td>
            <td>
                <input type="text" name="productCategory"/>
            </td>
            <td>
                <input type="number" name="quantity"/>
            </td>
            <td>
                <input type="number" name="jpyPrice"/>
            </td>
            <td class="rate readonly" >
            </td>
            <td class="cnyPrice readonly">
            </td>
            <td>
                <input type="text" name="cnyDealPrice"/>
            </td>
            <td class="productProfit readonly">
                0
            </td>
            <td>
                <input type="text" name="goodsStatus"/>
            </td>
            <td>
                <input type="text" name="sendDate"/>
            </td>
            <td>
                <textarea name="remark"></textarea>
            </td>
        </tr>
        </tbody>
    
    </table>
<p>
    <input type="button" id="addRow" value="添加" />
    <input type="button" id="delRow" value="删除" />
    <input type="hidden" name="goodsJsonString"/>
    <input type="hidden" name="_eventId_submit"/>
    <input type="button" id="doPost" value="提交" />
</p>

</div>



</center>
</form>
</body>  
</html>