@CHARSET "UTF-8";
/*基本CSS定义*/
input, 
textarea, 
keygen, 
select, 
button {
    border: solid 1px #ccc;
    border-radius: 5px;
    outline: transparent;
}
input:hover,
textarea:hover,
select:hover
{
    border: solid 1px #38ACEC;
}
input:focus,
textarea:focus,
select:focus
{ 
    border: solid 1px #38ACEC !important;
    background-color:#FFFFCC !important;
}

table{
    border-collapse:collapse;
    white-space:nowrap;
}
th,td{
    border:1px solid #ccc;
    padding:2px 2px;
}
input[type="button"],
input[type="submit"],
button{
    background: #0275B7;
    padding: 15px 30px;
    border:1px solid #0275B7;
    text-align: center;
    color: #f0f0f0;
    box-shadow: 2px 5px 20px #999;
    cursor:pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover{
      background: #0275B7;
      filter:alpha(opacity=70);  
      -moz-opacity:0.7;  
      -khtml-opacity: 0.7;  
      opacity: 0.7;  
}
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus{
    background: #0275B7 !important;
    border:0px;
    box-shadow: 1px 5px 20px #999;
}

.readonly{
    background: #F5F5F5;
}